:root {
  /* color variables */
  --dark: hsl(300, 43%, 22%);
  --pink: hsl(333, 80%, 67%);
  --grey: hsl(303, 10%, 53%);
  --light-grey: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  /* font variables */
  --thin: 400 1rem 'Spartan', sans-serif;
  --medium: 500 1rem 'Spartan', sans-serif;
  --bold: 700 1rem 'Spartan', sans-serif;
}

body {
  font: var(--thin);
  color: var(--grey);
  padding: 1rem;
  text-align: center;
}

section {
  padding: 0.5rem;
}

div {
  border-radius: 0.5rem;
  margin: 1rem;
}

h1 {
  color: var(--dark);
}

h2 {
  color: var(--white);
}

h3 {
  color: var(--pink)
}

.rating {
  background: var(--light-grey);
  color: var(--dark);
}

.testimonial {
  background: var(--dark);
  color: var(--light-grey);
  padding: 1rem;
  text-align: left;
}

footer {
  margin-top: 10rem;
}
